<div class="menu-bar_container">
    <div class="menu-bar_logo">
        <img 
        src="assets/ps-logo.png" 
        alt="playstation store logo"
        width="140px"
        height="32px"
        >
    </div>
    <div class="menu-bar_items">
        <ul>
            <li><a href="https://linkedin.com/in/danielribeiromsr/">Linkedin</a></li>
            <li><span>•</span></li>
            <li><a href="https://github.com/eliodmsr">Github</a></li>
            <li><span>•</span></li>
            <li><a href="https://instagram.com/eliodmsr/">Instagram</a></li>
        </ul>
    </div>
</div>